* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background:rgba(2, 23, 46, 0.8) url("./assets/pexels-maxyne-barcel-10402282\ 1.png");
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
}

.container{
  margin: 50px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar svg{
  display: none;
}


.list{
  display: flex;
  
}

.list-item{
  color: #ffc233;
  margin-left: 70px;
  list-style-type: none;
}

.button-small{
  color: #ffffff;
  background-color: #ff505f;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero-heading{
  font-size: 85px;
  font-family: "Dela Gothic One";
  text-align: center;
  color: #ffc233;
  margin: 10px 50px;
}


.button-large{
  color: #ffffff;
  background-color: #ff505f;
  font-size: 25px;
  padding: 10px 30px;
  font-weight: bold;
  border: none;
  margin: 10px 40%;
}

.bottom>div>img{
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 100px;
  
}

@media screen and (max-width : 950px){

  body{
    background-repeat:repeat;
    height: 100vh;
    background-size: cover;
  }

  .navbar svg{
    background-color: #ff7676;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    display: block;
  }

  .navbar ul{
    display: none;
  }

  .navbar button{
    display: none;
  }

  .navbar img{
    width: 100px;
  }

  .hero-heading{
    font-size: 45px;
    margin: 20px 10px
  }

  .button-large{
    font-size: 25px;
    padding: 10px 30px;
    margin: 0px 10px;
  }

  .bottom img{
    width: 80px;
  }
}

